In [18]:
import pandas as pd
import numpy as np

In [3]:
GME = pd.read_excel('GME_project.xlsx', usecols = ['OpenGME' , 'High GME', 'Low GME','Close GME','Adj Close GME', 'VolumeGME']).squeeze()

In [4]:
TNX = pd.read_excel('GME_project.xlsx', usecols = ['Open TNX' , 'High TNX', 'Low TNX','Close TNX','Adj Close TNX', 'Volume TNX']).squeeze()

In [5]:
THCX = pd.read_excel('GME_project.xlsx', usecols = ['Open THCX' , 'High THCX', 'Low THCX','Close THCX','Adj Close THCX', 'Volume THCX']).squeeze()

In [6]:
GME

        OpenGME    High GME     Low GME   Close GME  Adj Close GME  VolumeGME
0      5.350000    5.370000    5.170000    5.180000       5.180000   10853300
1      4.980000    5.010000    4.730000    4.840000       4.840000   16778200
2      4.860000    4.930000    4.810000    4.910000       4.910000    4392200
3      4.870000    4.890000    4.750000    4.750000       4.750000    3068400
4      4.760000    4.810000    4.630000    4.630000       4.630000    5970000
..          ...         ...         ...         ...            ...        ...
546  200.649994  204.619995  195.000000  199.240005     199.240005    2141600
547  197.000000  204.869995  193.750000  204.520004     204.520004    2310400
548  202.330002  216.550003  201.149994  206.369995     206.369995    3058200
549  208.020004  212.490005  200.779999  204.970001     204.970001    3945900
550  200.000000  202.850006  184.550003  192.199997     192.199997    3941800

[551 rows x 6 columns]

In [7]:
type(GME)

pandas.core.frame.DataFrame

In [8]:
GME.head(10)

   OpenGME  High GME  Low GME  Close GME  Adj Close GME  VolumeGME
0     5.35      5.37     5.17       5.18           5.18   10853300
1     4.98      5.01     4.73       4.84           4.84   16778200
2     4.86      4.93     4.81       4.91           4.91    4392200
3     4.87      4.89     4.75       4.75           4.75    3068400
4     4.76      4.81     4.63       4.63           4.63    5970000
5     4.63      4.64     4.33       4.38           4.38    7643100
6     4.39      4.42     4.12       4.20           4.20    8585700
7     4.22      4.42     4.22       4.32           4.32   10946500
8     4.33      4.40     4.12       4.14           4.14    5488700
9     4.15      4.20     3.98       4.09           4.09    7703500

In [9]:
TNX

     Open TNX  High TNX  Low TNX  Close TNX  Adj Close TNX  Volume TNX
0       2.101     2.105    2.041      2.061          2.061           0
1       2.068     2.134    2.058      2.120          2.120           0
2       2.122     2.148    2.105      2.106          2.106           0
3       2.113     2.115    2.090      2.092          2.092           0
4       2.099     2.143    2.096      2.122          2.122           0
..        ...       ...      ...        ...            ...         ...
546     1.346     1.350    1.265      1.277          1.277           0
547     1.274     1.319    1.260      1.304          1.304           0
548     1.312     1.351    1.309      1.331          1.331           0
549     1.340     1.386    1.336      1.370          1.370           0
550     1.309     1.338    1.297      1.309          1.309           0

[551 rows x 6 columns]

In [10]:
THCX

     Open THCX  High THCX   Low THCX  Close THCX  Adj Close THCX  Volume THCX
0    24.840000  24.840000  24.250000   24.250000       22.412083       247600
1    24.389999  24.410000  23.841000   23.957001       22.141285       186100
2    23.820000  23.820000  22.806000   22.886999       21.152382       130100
3    23.000000  23.559999  22.525999   23.462000       21.683805       116000
4    23.540001  23.719999  23.312000   23.545000       21.760513       101600
..         ...        ...        ...         ...             ...          ...
546  13.800000  13.930000  13.310000   13.340000       13.340000        47100
547  13.350000  13.600000  13.260000   13.520000       13.520000        55800
548  13.510000  13.690000  13.460000   13.620000       13.620000        26100
549  13.530000  13.590000  13.330000   13.570000       13.570000        30400
550  13.190000  13.248000  12.660000   12.970000       12.970000        84000

[551 rows x 6 columns]

In [43]:
summary_GME = GME.describe()

In [44]:
summary_GME

,OpenGME,High GME,Low GME,Close GME,Adj Close GME,VolumeGME,log_GME,pctChangeGME
count,551.000000,551.000000,551.000000,551.000000,551.000000,5.510000e+02,551.000000,550.000000
mean,58.603466,62.921706,54.375245,58.127749,58.127749,1.065096e+07,2.850058,1.347059
std,84.612405,91.449951,77.816719,83.354762,83.354762,2.041268e+07,1.614733,13.692431
min,2.850000,2.940000,2.570000,2.800000,2.800000,9.454000e+05,1.078410,-50.931677
25%,4.485000,4.675000,4.330000,4.440000,4.440000,3.062050e+06,1.542229,-3.559337
50%,6.180000,6.430000,6.030000,6.190000,6.190000,4.757300e+06,1.860975,-0.329692
75%,144.635002,157.694999,129.750000,144.004997,144.004997,8.969300e+06,5.060663,3.339386
max,379.709991,483.000000,291.510010,347.510010,347.510010,1.971579e+08,6.180017,153.333333

In [41]:
summary_TNX = TNX.describe()

In [39]:
summary_THCX = THCX.describe()

In [15]:
summary_TNX

,Open TNX,High TNX,Low TNX,Close TNX,Adj Close TNX,Volume TNX
count,551.000000,551.000000,551.000000,551.000000,551.000000,551.0
mean,1.249151,1.273713,1.225290,1.250142,1.250142,0.0
std,0.457580,0.457537,0.456424,0.455062,0.455062,0.0
min,0.484000,0.538000,0.398000,0.499000,0.499000,0.0
25%,0.762000,0.786500,0.729500,0.763000,0.763000,0.0
50%,1.311000,1.336000,1.285000,1.302000,1.302000,0.0
75%,1.637000,1.655500,1.617500,1.635000,1.635000,0.0
max,2.122000,2.148000,2.105000,2.122000,2.122000,0.0

In [19]:
summary_THCX

,Open THCX,High THCX,Low THCX,Close THCX,Adj Close THCX,Volume THCX
count,551.000000,551.000000,551.000000,551.000000,551.000000,5.510000e+02
mean,14.239474,14.456211,13.906486,14.159564,13.749335,1.020425e+05
std,4.544570,4.598378,4.383342,4.483611,4.335889,1.906805e+05
min,5.980000,6.500000,5.905000,6.030000,5.767823,1.050000e+04
25%,10.225000,10.365000,10.063500,10.230000,9.973131,2.995000e+04
50%,13.690000,13.780000,13.265000,13.570000,13.287838,4.860000e+04
75%,17.500000,17.714999,17.052000,17.370000,17.312013,1.008500e+05
max,30.799999,30.993999,26.059999,29.590000,29.584896,2.392000e+06

In [29]:
high_GME =  GME['High GME']
GME['log_GME'] = np.log(high_GME)
# calculating the percentage change
GME['pctChangeGME'] = np.exp(GME['log_GME']).pct_change() * 100

In [30]:
high_TNX =  TNX['High TNX']
TNX['log_TNX'] = np.log(high_TNX)
# calculating the percentage change
TNX['pctChangeTNX'] = np.exp(TNX['log_TNX']).pct_change() * 100

In [31]:
high_THCX =  THCX['High THCX']
THCX['log_THCX'] = np.log(high_THCX)
# calculating the percentage change
THCX['pctChangeTHCX'] = np.exp(THCX['log_THCX']).pct_change() * 100

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [37]:
df = pd.DataFrame({
    'pctChangeTHCX': THCX['pctChangeTHCX'],
    'pctChangeTNX': TNX['pctChangeTNX'],
    'pctChangeGME': GME['pctChangeGME']
})
# Drop rows with any NaN values
df = df.dropna()

X = df[['pctChangeTHCX', 'pctChangeTNX']]
y = df['pctChangeGME']
model = LinearRegression()

model.fit(X , y)

# Make predictions on the test data
y_pred = model.predict(X)

# Evaluate the model
mse = mean_squared_error(y, y_pred)
print(f'Mean Squared Error: {mse}')

# Coefficients and intercept
coefficients = model.coef_
intercept = model.intercept_

print(f'\nCoefficients: {coefficients}')
print(f'Intercept: {intercept}')

Mean Squared Error: 184.30925719385672

Coefficients: [0.40701225 0.16526152]
Intercept: 1.3673250585163055

In [48]:
summary_GME

,OpenGME,High GME,Low GME,Close GME,Adj Close GME,VolumeGME,log_GME,pctChangeGME
count,551.000000,551.000000,551.000000,551.000000,551.000000,5.510000e+02,551.000000,550.000000
mean,58.603466,62.921706,54.375245,58.127749,58.127749,1.065096e+07,2.850058,1.347059
std,84.612405,91.449951,77.816719,83.354762,83.354762,2.041268e+07,1.614733,13.692431
min,2.850000,2.940000,2.570000,2.800000,2.800000,9.454000e+05,1.078410,-50.931677
25%,4.485000,4.675000,4.330000,4.440000,4.440000,3.062050e+06,1.542229,-3.559337
50%,6.180000,6.430000,6.030000,6.190000,6.190000,4.757300e+06,1.860975,-0.329692
75%,144.635002,157.694999,129.750000,144.004997,144.004997,8.969300e+06,5.060663,3.339386
max,379.709991,483.000000,291.510010,347.510010,347.510010,1.971579e+08,6.180017,153.333333

In [47]:
summary_THCX

,Open THCX,High THCX,Low THCX,Close THCX,Adj Close THCX,Volume THCX,log_THCX,pctChangeTHCX
count,551.000000,551.000000,551.000000,551.000000,551.000000,5.510000e+02,551.000000,550.000000
mean,14.239474,14.456211,13.906486,14.159564,13.749335,1.020425e+05,2.620383,-0.058173
std,4.544570,4.598378,4.383342,4.483611,4.335889,1.906805e+05,0.320842,3.370807
min,5.980000,6.500000,5.905000,6.030000,5.767823,1.050000e+04,1.871802,-17.059808
25%,10.225000,10.365000,10.063500,10.230000,9.973131,2.995000e+04,2.338435,-1.766856
50%,13.690000,13.780000,13.265000,13.570000,13.287838,4.860000e+04,2.623218,-0.169293
75%,17.500000,17.714999,17.052000,17.370000,17.312013,1.008500e+05,2.874412,1.247867
max,30.799999,30.993999,26.059999,29.590000,29.584896,2.392000e+06,3.433794,19.207688

In [49]:

summary_TNX

,Open TNX,High TNX,Low TNX,Close TNX,Adj Close TNX,Volume TNX,log_TNX,pctChangeTNX
count,551.000000,551.000000,551.000000,551.000000,551.000000,551.0,551.000000,550.000000
mean,1.249151,1.273713,1.225290,1.250142,1.250142,0.0,0.168946,0.020640
std,0.457580,0.457537,0.456424,0.455062,0.455062,0.0,0.394970,4.569153
min,0.484000,0.538000,0.398000,0.499000,0.499000,0.0,-0.619897,-23.827630
25%,0.762000,0.786500,0.729500,0.763000,0.763000,0.0,-0.240168,-2.100643
50%,1.311000,1.336000,1.285000,1.302000,1.302000,0.0,0.289680,-0.268745
75%,1.637000,1.655500,1.617500,1.635000,1.635000,0.0,0.504103,1.935117
max,2.122000,2.148000,2.105000,2.122000,2.122000,0.0,0.764537,26.980943